<!DOCTYPE html><html lang="en-US">
  <head>
    <title>Ebaad Imran</title>
    <meta name="description" content="Game designer">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet'>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-6604386936151725",
        enable_page_level_ads: true
      });
    </script>
  </head>
  <body>
    <section class="page-header">
      <h1 class="project-name">Ebaad Imran</h1>
      <h2 class="project-tagline">Game Designer</h2>
    </section>
    <section class="main-content">
      {{ content }}
    </section>
  </body>
</html>
